div {
  width: 100px;
  height: 100px;
  color: yellow;
  background-color: red;
  /* padding: 20px; */
  /* padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 15px;
  padding-right: 25px; */

  /* trên dưới - trái phải  */
  padding: 20px 30px;

  /* trên  - trái phải - dưới  */
  padding: 20px 30px 40px;

  /* trên  -  phải - dưới - trái */
  padding: 20px 30px 40px 50px;

}